* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #34353b;

}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #34353b;
}

header {
  height: 100vh;
  padding: 36px 100px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
}

/* Nav Bar*/
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  z-index: 99;
  top: 5px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav img {
  height: 200px;
  width: 200px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;

}

nav ul li a:hover {
  color: #555;
}

nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@keyframes fill {

  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background-color: #f6b950;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

/*Nav Search Button*/
header nav .search {
  height: 48px;
  width: 200px;
  background-color: #3d3e42;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px;
  border-radius: 10px;
}

header nav .search input {
  border: none;
  background-color: transparent;
  width: 80%;
  color: #fbfbfb;
  outline: none;
}

header nav .search input:focus {
  border: none;
  outline: none;
}

header nav .search input::placeholder {
  color: #98999a;
  font-size: 16px;
}

header nav .search i {
  color: #98999a;
}

/*Foto Keri*/
.landing {
  display: flex;
  height: 90vh;
  background-image: url(./imagini/PersonalFoto.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 80px;
}

.landing .intro {
  display: flex;
  flex-direction: column;
}

.landing .intro .keri :hover {
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgb(255, 200, 106),
    inset -20px 0 80px rgb(217, 255, 0),
    inset 20px 0 300px rgb(244, 99, 99),
    inset -20px 0 300px rgb(255, 174, 0),
    0 0 50px #fff,
    -10px 0 80px rgba(248, 119, 119, 0.735),
    10px 0 80px rgb(255, 174, 0);
  border: none;
  cursor: pointer;
}

.landing .intro h3 {
  color: #fbfbfb;
  font-weight: 400;
  font-size: 32px;
  margin-left: 10vw;
}

.landing .intro h3 span {
  color: #fec86a;
  font-weight: 600;
  font-size: 3.5rem;
}

.intro button {
  height: 48px;
  width: 144px;
  margin-top: 2.5vh;
  margin-left: 10vw;
  background-color: transparent;
  border: 2px solid #fec86a;
  border-radius: 8px;
  color: #fec86a;
  font-size: 16px;
  transition: all ease 0.5s;
}

.intro button:hover {
  background-color: #fec86a;
  color: #34353b;
}

/*Social Section*/
.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 50vh;
}

.socials .line {
  background-color: #fec86a;
  height: 15vh;
  width: 2.5px;
}

.socials i {
  color: #fbfbfb;
  font-size: 36px;
}

.about {
  height: 50vh;
  width: 100vw;
  padding: 100px;
}

.about h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.about .description {
  display: flex;
  align-items: start;
}

.about .description .line {
  height: 2.5px;
  width: 400px;
  background-color: #fec86a;
  margin-right: 32px;
}

.about .description p {
  color: #fbfbfb;
  font-size: 20px;
}

.about .description p span {
  color: #fec86a;
}

/*Skills Section*/
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

.skills h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.container {
  width: 1500px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
}

.container .cardcss {
  position: relative;
}

.container .cardjavascript {
  position: relative;
}

.container .card .face {
  width: 400px;
  height: 250px;
  transition: .4s;
}

.container .cardcss .face {
  width: 400px;
  height: 250px;
  transition: .4s;
}

.container .cardjavascript .face {
  width: 400px;
  height: 250px;
  transition: .4s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  top: 50px;
}

.container .cardcss .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  top: 50px;
}

.container .cardjavascript .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  top: 50px;
}

.container .card:hover .face.face1 {
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgb(227, 145, 3),
    inset -20px 0 80px rgb(217, 255, 0),
    inset 20px 0 300px rgb(244, 99, 99),
    inset -20px 0 300px rgb(255, 174, 0),
    0 0 50px #fff,
    -10px 0 80px rgba(248, 119, 119, 0.735),
    10px 0 80px rgb(255, 174, 0);
}

.container .cardcss:hover .face.face1 {
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgb(58, 53, 125),
    inset -20px 0 80px rgb(47, 0, 255),
    inset 20px 0 300px rgb(99, 118, 244),
    inset -20px 0 300px rgb(0, 0, 255),
    0 0 50px #fff,
    -10px 0 80px rgba(119, 126, 248, 0.735),
    10px 0 80px rgb(0, 42, 255);
}

.container .cardjavascript:hover .face.face1 {
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgb(227, 182, 0),
    inset -20px 0 80px rgb(255, 213, 0),
    inset 20px 0 300px rgb(244, 210, 99),
    inset -20px 0 300px rgb(255, 208, 0),
    0 0 50px #fff,
    -10px 0 80px rgba(253, 232, 1, 0.735),
    10px 0 80px rgb(255, 221, 0);
}

.container .card .face.face1 .content {
  opacity: .2;
  transition: 0.5s;
  text-align: center;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .cardcss .face.face1 .content {
  opacity: .2;
  transition: 0.5s;
  text-align: center;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .cardjavascript .face.face1 .content {
  opacity: .2;
  transition: 0.5s;
  text-align: center;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .cardcss:hover .face.face1 .content {
  opacity: 1;
}

.container .cardjavascript:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}

.container .cardcss .face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}

.container .cardjavascript .face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}

.container .card .face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
}

.container .cardcss .face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
}

.container .cardjavascript .face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
}

.container .card .face.face1 .content a {
  transition: .5s;
}

.container .cardcss .face.face1 .content a {
  transition: .5s;
}

.container .cardjavascript .face.face1 .content a {
  transition: .5s;
}

.container .card .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
  transform: translateY(-100px);
}

.container .cardcss .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
  transform: translateY(-100px);
}

.container .cardjavascript .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .cardcss:hover .face.face2 {
  transform: translateY(0);
}

.container .cardjavascript:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p,
a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

.container .cardcss .face.face2 .content p,
a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

.container .cardjavascript .face.face2 .content p,
a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

.container .card .face.face2 .content a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: center;
}

.container .cardcss .face.face2 .content a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: center;
}

.container .cardjavascript .face.face2 .content a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: center;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container .cardcss .face.face2 .content a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container .cardjavascript .face.face2 .content a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.row #card h2 {
color: white;

}

.row #card h3 {
  color: rgb(132, 132, 132);
  text-align: start;
  padding-top: 20px;
}

.row #card p {
  padding-top: 30px;
  color: white;
  text-align: start;
}

.row #card a {
  border: none;
  padding: 2px 10px;
  border: 1px solid rgb(2, 2, 2);
text-decoration: none;
color: black ;
cursor: pointer;
}

.row #card a:hover {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

